{
  "singleQuote": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["package.json", "workspace.json", "nx.json"],
      "options": {
        "parser": "json-stringify"
      }
    }
  ]
}
